<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>cog</title>
<style>
  html, body {
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-image: url("img/lSfAKNy.png");
    background-size: cover;
    background-position: center center;
    font-family: 'Roboto', sans-serif;
  }

  .Text2, a {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
  }

  .box {
    width: 550px; 
    height: 350px;
    border-radius: 25px;
    border: 1px solid rgb(29, 29, 29); 
    background-color: rgba(5, 5, 5, 0.7); 
    box-shadow: 0 0 10px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .linksnshit {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .pfp {
    border-radius: 50%;
    width: 140px;
    height: 140px;
    border: 1px solid #ffffff;
  }
</style>
</head>
<body>
<div class="box">
  <pre>
    <img class="pfp" src="img/pfdpp.jpg">
  </pre>
  <div class="linksnshit">
    <a>♱ cog/retain | troll ♱</a><br>
    <a href="https://t.me/skiddler1337">♱ Telegram ♱ </a>
    <a href="https://discordapp.com/users/catgirls.com">♱ Discord ♱</a>
  </div>
</div>
</body>
</html>
